<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Contact Form</title></head><body><form method="post" action="wmail.pl"><input name="email1" value="$email1" type="hidden"><input name="email2" value="$email2" type="hidden"><input name="subject" value="$subject" type="hidden"><input name="message" value="$message" type="hidden"><input name="confirm" value="$confirm" type="hidden"><br>$warning<br><table border="1" cellpadding="2" cellspacing="2" width="100%"><tbody><tr><td width="181">Your email
address:</td><td width="770">$email1<br></td></tr><tr><td width="181">Confirm
email address:</td><td width="770">$email2<br></td></tr><tr><td width="181">Subject:</td><td width="770">$subject<br></td></tr><tr><td valign="top" width="181">Message:</td><td width="770">$message<br><br><input name="send" value="Send" type="submit"> &nbsp;&nbsp;<input name="send" value="Edit" type="submit"></td></tr></tbody></table><br><br></form><br></body></html>